.color-incidence-0 {
  background-color: #ccf5c4;
  color: black;
}
.color-incidence-1-5 {
  background-color: #faf7c9;
  color: black;
}
.color-incidence-6-50 {
  background-color: #faee7d;
  color: black;
}
.color-incidence-51-100 {
  background-color: #d03523;
}
.color-incidence-101-250 {
  background-color: #921214;
}
.color-incidence-251-500 {
  background-color: #651212;
}
.color-incidence-500-up {
  background-color: #d80182;
}
