/* Custom color theme */
:root {
  --f7-theme-color: #0d6b64;
  --f7-theme-color-rgb: 13, 107, 100;
  --f7-theme-color-shade: #094742;
  --f7-theme-color-tint: #118f86;
}

@font-face {
  font-family: 'RobotoCondensed';
  font-style: normal;
  font-weight: 400;
  src: local('RobotoCondensed'),
       local('RobotoCondensed-Regular'),
       url(../fonts/RobotoCondensed-Regular.ttf) format('truetype');
}

.aurora {
  --f7-font-family: RobotoCondensed, sans-serif;
  --f7-line-height: 1.5;
  --f7-text-color: #09243c;
}
